{% extends "data/main.html" %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class="container-fluid">
    <div class="col-12">
        <div class="card mb-2 " style="background-color:rgb(191, 222, 249);">
            <div
                class="card-header bg-transparent my-3 mx-3 justify-content-end position-relative badge-colors:#ff0000;">
                <div>
                    <img src="{% static 'img/logo mahad aly.png'%}" class="avatar avatar  me-4 position-absolute ">
                </div>
                <div class="mx-6 ">
                    <h6 class="font-weight-bolder my-0 ">Data Pencapian Mahasantri Ma'had Aly Nurul Jadid</h6>
                    <h6 class="font-weight-normal my-0 ">Pondok Pesantren Nurul Jadid</h6>
                </div>


                <div class="position-absolute bg-cover top-  ms-3 mb-2 mt-2 mx-20 ">
                    <div class="row">

                        <a class=" btn bg-gradient-dark mb-0" href="{% url 'tbketsantri' %}"><i
                                class="fa fa-user-plus"></i>&nbsp;&nbsp;tambah data </a>
                               
                                    <!-- <a href="{% url 'export_xls' %" class="btn btn-primary"> export .xls</a> -->
    
                                   
                             
                      
                    </div>
                </div>

            </div>


        </div>

    </div>


    <!-- cari -->
    <!-- <form method="get">
        <div class="row  text-sm mt-2 ms-2 w-90 ">
            <span>

            </span>
            <div class="col input-group " style="width: 100;" aria-placeholder="cari nama">
                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"
                        aria-placeholder="nama"></i></span>
                {{ filter_data_santri.form.nama | add_class:"form-control form-control-sm"}}
            </div>

            <div class="col input-group " style="width: 100;" aria-placeholder="cari nama">

                {{ filter_data_santri.form.takhossus | add_class:"form-control form-control-sm"}}
                <button class="fa fa-search background-color  btn-primary disabled border-radius-md"> </button>
            </div>

        </div>
    </form> -->

    <div class="card-body px-0 pt-0 pb-2 my-3">
        <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0">
                <thead>
                    <tr>
                        <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">no
                            </th> -->
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            Nama</td>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            marhalah</td>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder  opacity-7 me-sm-1 ps-2">
                            angkatan</td>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder  opacity-7 me-sm-1 ps-2">
                            takhossus</td>

                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder  opacity-7  ps-2">
                            tanggal masuk</td>

                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder  opacity-7 me-sm-1 ps-2">
                            keterangan</td>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                            lulus tanggal</td>
                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder  opacity-7 me-sm-1 ps-2">
                            naik takhossus</td>

                        <td class="text-uppercase text-secondary text-xxs font-weight-bolder  opacity-7 ps-2">
                            aksi</td>

                    </tr>
                </thead>
                <tbody>


                    {% for datanubzah in ket %}
                    <tr>

                        <td>
                            <div class="d-flex px-2">

                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm"> {{ datanubzah.nama }}</h6>
                                </div>
                            </div>
                        </td>

                        <td>
                            <span class="text-xs font-weight-bold"> {{ datanubzah.marhalah }}</span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ datanubzah.angkatan }}</span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ datanubzah.takhossus }}</span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ datanubzah.tanggal_masuk }}</span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ datanubzah.keterangan }}</span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ datanubzah.lulus_tanggal }}</span>
                        </td>
                        <td>
                            <span class="text-xs font-weight-bold"> {{ datanubzah.naik_takhossus }}</span>
                        </td>

                        <!-- <th class="text-sm font-weight-bold ms-2 mb-0">
                                {{ datanubzah.predikat }}</th>
                            <th></th> -->

                        <td class="align-items-center me-sm-0 ps-0">


                            <a class="btn btn-link text-danger text-gradient px-3 mb-0"
                                href="{% url 'delete_santri' datanubzah.id %}"><i class="far fa-trash-alt me-0 "
                                    aria-hidden="true"> </i></a>

                            <a class="btn btn-link text-dark px-3 mb-0"
                                href="{% url 'update_ketsantri' datanubzah.id %}"><i
                                    class="fas fa-pencil-alt text-dark me-1" aria-hidden="true"></i></a>

                        </td>
                    </tr>



                    </tr>{% endfor %}


                </tbody>

            </table>

            <div>


            </div>


        </div>
    </div>

</div>
</div>
{% endblock content %}